.react-magnifier-wrapper *{
  margin:0;
  padding:0;
}

.react-magnifier-wrapper {
  margin: 0 auto;
}

.react-magnifier-image {
  cursor: zoom-in;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.react-magnifier-zoom-container{
  overflow: hidden;
  position: relative;
  overflow: hidden;
}

.react-magnifier-zoom-image {
  position: absolute;
}

.react-magnifier-zoom-image, .react-magnifier-image {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
